---
import PageLayout from "../layouts/PageLayout.astro";
import Cards from "../components/Cards.astro";
import BlogCard from "../components/BlogCard.astro";

const posts = await Astro.glob('./posts/*.md');
---
<PageLayout title="Adrian's Blog" description="Where I attempt to turn ramblings into semi-coherent blog articles.">
  <main>
    <h2>All Posts</h2>
      <Cards title="">
        {posts.map((post) => (
          <BlogCard
            href={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.date}
            caption={post.frontmatter.caption}
          />
          )
        )}
      </Cards>
  </main>
</PageLayout>