---
import PageLayout from "../layouts/PageLayout.astro";
import Cards from "../components/Cards.astro";
import BlogCard from "../components/BlogCard.astro";

const posts = await Astro.glob('./posts/*.md');
---

<PageLayout title="Adrian S. Haynes" description="My name is Adrian Sebastian Haynes. I am a web developer, musician, and horror movie fanatic.">
  <main>
    <section class="intro">
      <h2 class="sr-only">Intro</h2>
      <br />
      My name is <span class="name">Adrian Sebastian Haynes</span>. I am a
      <a href="/web" class="interest">web developer 🧑‍💻</a>,
      <a href="/music" class="interest">musician 🎸</a>, and
      <a href="/movies" class="interest">horror movie fanatic 👻</a>.
    </section>
    <hr>
    <section class="blog">
      <h2 class="sr-only">Blog</h2>
      <Cards title="Check out my latest posts!">
        {posts.map((post) => (
          <BlogCard
            href={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.date}
            caption={post.frontmatter.caption}
          />
          )
        )}
      </Cards>
      <div class="latest-posts">
        <a href="/blog">View all posts</a>
      </div>
    </section>
  </main>
</PageLayout>

<style>
  section {
    padding-block: 3rem;
  }
  main {
    & .intro {
      font-size: clamp(1.5rem, 3vw + 1rem, 4rem);
      font-weight: normal;
      margin: auto;
      max-width: 90rem;
      padding-top: 4rem;
    }
    & .blog {
      font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
      h2 {
        font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
        margin-top: 0;
      }
      p {
        font-weight: 300;
      }
      a {
        font-weight: bolder;
      }
    }
  }

  .greeting {
    font-size: clamp(1.5rem, 4vw + 1rem, 4.5rem);
  }
  .greeting,
  .name,
  .interest {
    font-weight: bolder;
  }
</style>
