---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <p class="intro">
      <span class="greeting">Hi!</span>
      <br /><br />
      My name is <span class="name">Adrian Sebastian Haynes</span>. I am a
      <span class="interest">web developer</span>,
      <span class="interest">musician</span>, and
      <span class="interest">horror movie fanatic</span>.
    </p>
  </main>
  <nav class="">
    <div class="menu">
      <ul>
        <li><a href="#">Web</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Movies</a></li>
      </ul>
    </div>
    <button class="open">Menu</button>
    <button class="close">X</button>
  </nav>
  <script>
    import "../scripts/menu.js";
  </script>
</Layout>

<style>
  body {
    height: 100vh;
    margin: 0;
  }
  main {
    margin: auto;
    position: relative;
    padding: 1.5rem;
    max-width: 80ch;
  }
  main .intro {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
  }
  .greeting {
    font-size: 3.5rem;
  }
  .greeting,
  .name,
  .interest {
    font-weight: bolder;
  }
  nav .menu {
    align-items: center;
    background: #ddd;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav .open {
    display: block;
  }
  nav .close {
    display: none;
  }
  nav.active .menu {
    display: flex;
  }
  nav.active .open {
    display: none;
  }
  nav.active .close {
    display: block;
  }
  .menu ul {
    font-size: 3rem;
    list-style: none;
  }
  .menu li {
    padding: 1rem 0;
  }
  nav button {
    border: 2px solid #000;
    border-radius: 50%;
    bottom: 2rem;
    background: #ddd;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 6rem;
    position: absolute;
    right: 2rem;
    text-transform: uppercase;
    width: 6rem;
  }
</style>
