---
import PageLayout from "../layouts/PageLayout.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Reviews from "../components/Reviews.astro";
import LetterBoxIconImage from "../images/letterbox-icon.svg";

console.log(LetterBoxIconImage)
---

<PageLayout title="Movies" description="I love movies, especially horror. Check out my mostly silly reviews.">
  <main>
    <Header title="Movies">
      <Socials>
        <a
          style={`background-image: url(${LetterBoxIconImage.src})`}
          class="letterbox-icon"
          href="https://letterboxd.com/ashpoz/"
          target="_blank"
        >
        </a>
      </Socials>
    </Header>
    <h2>Latest Reviews</h2>
    <Reviews />
  </main>
</PageLayout>
