---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";

const letterboxRssFeed = `http://localhost:8888/api/letterbox`;
const response = await fetch(letterboxRssFeed);
const data = await response.json();
const rssItems = data.rss.channel[0].item;
---

<Layout title="Movies">
  <main>
    <h1>Movies</h1>
    <h2>Latest Reviews</h2>
    <ul class="reviews">
      {
        rssItems.map((item: any, index: Number) => {
          return (
            index <= 9 &&
            !item.description.toString().includes("Watched on") && (
              <li>
                <a href={item.link}>{item.title}</a>
                <div set:html={item.description} />
              </li>
            )
          );
        })
      }
    </ul>
    <hr />
    <h2>Favorite Movies</h2>
    <div>Fav movies here maybe?</div>
    <hr />
    <div class="socials">
      <h2>Follow me!</h2>
      <a
        class="letterbox-icon"
        href="https://letterboxd.com/ashpoz/"
        target="_blank"
      >
      </a>
    </div>
  </main>
  <Nav />
</Layout>

<style>
  body {
    height: 100vh;
    margin: 0;
  }
  main {
    margin: auto;
    position: relative;
    padding: 1.5rem;
    max-width: 80ch;
  }
  main .intro {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 2rem;
  }
  .reviews {
    display: flex;
    flex-wrap: wrap;
  }
  .reviews li {
    max-width: 300px;
  }
  .reviews img {
    width: 100%;
  }
  .socials a {
    display: inline-flex;
    height: 3rem;
    width: 3rem;
  }
  .socials a:not(:last-child) {
    padding-right: 1rem;
  }
  .letterbox-icon {
    background-image: url("./images/letterbox-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
