---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import Socials from "../components/Socials.astro";
import Reviews from "../components/Reviews.astro";
---

<Layout title="Movies">
  <main>
    <Header title="Movies">
      <Socials>
        <a
          class="letterbox-icon"
          href="https://letterboxd.com/ashpoz/"
          target="_blank"
        >
        </a>
      </Socials>
    </Header>
    <h2>Latest Reviews</h2>
    <Reviews />
  </main>
</Layout>
