---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import { Icon } from "astro-icon";
import Socials from "../components/Socials.astro";
import Header from "../components/Header.astro";
import Cards from "../components/Cards.astro";
---

<PageLayout title="Music" description="Check out my music projects!">
  <main>
    <Header title="Music">
      <Socials>
        <a href="https://tidal.com/browse/user/32800331" target="_blank"
          ><Icon name="cib:tidal" />
        </a>
        <a href="https://open.spotify.com/user/128734211" target="_blank"
          ><Icon name="cib:spotify" />
        </a>
      </Socials>
    </Header>
    <Cards title="Projects">
      <Card
        href="https://www.youtube.com/watch?v=hrT-ITNT7rg"
        title="Alex Napping at Audiotree"
      >
        Alex Napping was a band from Austin TX/NYC from around 2014-2019. I played guitar, arranged and cowrote for the band.
      </Card>
      <Card
        href="https://open.spotify.com/album/5ThctQd8gzBrgccsiFnAe7"
        title="Dominic Sen - Visitor"
      >
        Alex (yes, from Alex Napping) started a solo project called Dominic Sen in 2019. I played guitar on this record and it was one of the most fun experiences I've had in the studio. All ideas were explored, and what ended on the record was very different than what we started with.
      </Card>
      <Card
        href="https://open.spotify.com/album/7Gedr2Ey9EVjYlGg2G68b9"
        title="Major Major Major - Apocalpyse Now & Then"
      >
        This was one of the more recent songs I wrote for Major Major Major, a band I started and have been playing with on and off since 2008.
      </Card>
    </Cards>
  </main>
</PageLayout>
