---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import { Icon } from "astro-icon";
import Socials from "../components/Socials.astro";
import Header from "../components/Header.astro";
import Cards from "../components/Cards.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header title="Web">
      <Socials>
        <a href="https://github.com/ashpoz" target="_blank"
          ><Icon name="akar-icons:github-fill" />
        </a>
        <a href="https://www.linkedin.com/in/adrianshaynes/" target="_blank"
          ><Icon name="akar-icons:linkedin-fill" />
        </a>
        <a href="https://codepen.io/ashpoz" target="_blank"
          ><Icon name="akar-icons:codepen-fill" />
        </a>
        <a href="https://codesandbox.io/u/hellomaryjo" target="_blank"
          ><Icon name="cib:codesandbox" />
        </a>
      </Socials>
    </Header>
    <Cards title="Projects">
      <Card
        href="https://github.com/ashpoz/movie-quotes-api"
        title="Movie Quotes API"
        body={`"Say hello to my little API!" I love randomly reciting movie quotes, and thought I would create a place an API to help me do that. Built with express.js`}
      />
      <Card
        href="https://github.com/ashpoz/spotify-playlist-generator-server"
        title="Spotify Playlist by Genre App"
        body="I love getting into a genre by exploring it's top/most listened to albums. This playlist generator searches thru Spotify data using their API to search a selected number of albums by genre. Each query selects a random assortment of popular albums of that genre. Built w/ React and express.js."
      />
      <Card
        href="https://github.com/ashpoz/landing-page-generator"
        title="Landing Page Generator "
        body="This is simple, no-code landing page generator that allows a user to select a template, and fill out it's contents via form fields, then outputs the HTML and CSS code necessary. Built w/ React."
      />
    </Cards>
  </main>
</Layout>

<style>
  main .intro {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 2rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
  }
</style>
