---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2>{title}</h2>
<ul class="cards">
  <slot />
</ul>

<style is:global>
  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    padding: 0;
  }
</style>
