<nav class="">
  <div class="menu">
    <ul>
      <li><a href="/">Home 🏡</a></li>
      <li><a href="/web">Web 🧑‍💻</a></li>
      <li><a href="/music">Music 🎸</a></li>
      <li><a href="/movies">Movies 🎬</a></li>
    </ul>
  </div>
  <button class="open">Menu</button>
  <button class="close">&#10005;</button>
</nav>
<script>
  const nav = document.querySelector("nav") as HTMLElement;
  const navButtons = nav.querySelectorAll(
    "button"
  ) as NodeListOf<HTMLButtonElement>;

  navButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      nav.classList.toggle("active");
    });
  });
</script>
<style is:global>
  nav .menu {
    align-items: center;
    background: #ddd;
    display: none;
    font-weight: bold;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  nav button {
    z-index: 1;
  }
  nav .open {
    display: block;
  }
  nav .close {
    display: none;
  }
  nav.active .menu {
    display: flex;
  }
  nav.active .open {
    display: none;
  }
  nav.active .close {
    display: block;
  }
  .menu ul {
    font-size: clamp(1.5rem, 3vw + 1.25rem, 4rem);
    list-style: none;
  }
  .menu li {
    padding: 1rem 0;
  }
  nav button {
    border: 2px solid #000;
    border-radius: 50%;
    bottom: 2rem;
    background: #ddd;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 6rem;
    position: fixed;
    right: 2rem;
    text-transform: uppercase;
    width: 6rem;
  }
  nav button.close {
    font-size: 3.5rem;
  }
</style>
