<button id="theme-toggle" type="button">
  <span class="theme-toggle-icon" aria-hidden="true"></span>
  <span class="sr-only theme-toggle-text" aria-live="polite"></span>
</button>

<style>
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(3rem,3vw + 1rem,3rem);
    line-height: 1;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 0;
    z-index: 1;
  }
</style>

<script is:inline>
  const toggleId = "theme-toggle";
  const toggleIcon = document.querySelector(`#${toggleId} .theme-toggle-icon`);
  const toggleText = document.querySelector(`#${toggleId} .theme-toggle-text`);

  const storedTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  const updateTheme = (theme) => {
    toggleText.textContent = 'Toggle dark mode'
    toggleIcon.textContent = '🌛'

    if (theme === 'dark') {
      toggleText.textContent = 'Toggle light mode'
      toggleIcon.textContent = '🌞'
    }

    document.documentElement.setAttribute("data-theme", theme);
  };

  updateTheme(storedTheme);

  toggleIcon.addEventListener("click", () => {
    let currentTheme = document.documentElement.getAttribute("data-theme");
    currentTheme = currentTheme === "light" ? "dark" : "light";

    updateTheme(currentTheme);
    document.documentElement.setAttribute("data-theme", currentTheme);
    localStorage.setItem("theme", currentTheme);
  });
</script>
