<button id="theme-toggle" type="button"></button>

<style>
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(2.5rem, 3vw + 1rem, 3rem);
    line-height: 1;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    padding: 0;
    z-index: 1;
  }
  button span {
    display: none;
  }
  button span.active {
    display: block;
  }
</style>

<script is:inline>
  const toggleId = "theme-toggle";
  const toggle = document.querySelector(`#${toggleId}`);

  const storedTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  const updateTheme = (theme) => {
    theme === "light"
      ? (toggle.textContent = "🌛")
      : (toggle.textContent = "🌞");

    document.documentElement.setAttribute("data-theme", theme);
  };

  updateTheme(storedTheme);

  toggle.addEventListener("click", () => {
    let currentTheme = document.documentElement.getAttribute("data-theme");
    currentTheme = currentTheme === "light" ? "dark" : "light";

    updateTheme(currentTheme);
    document.documentElement.setAttribute("data-theme", currentTheme);
    localStorage.setItem("theme", currentTheme);
  });
</script>
