---
import TopBar from "../components/TopBar.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  frontmatter: {
    title: string;
    date: string;
  }
}

const { frontmatter } = Astro.props;
const { title, date } = frontmatter;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <TopBar />
    <Nav />
    <main>
      <h1>{title}</h1>
      <p class="post-date">{date}</p>
      <article>
        <slot />
      </article>
    </main>
    <script>
      import { initializeCodeCopyButtons } from '../lib/copyCode'

      initializeCodeCopyButtons()
    </script>
    <style is:global>
      :root {
        --accent: 104, 109, 224;
        --accent-color: rgb(var(--accent));
        --accent-color-2: #543fd7;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #543fd7 30%,
          white 60%
        );
      }
      html[data-theme="light"] {
        --background-color: #ecf0f1;
        --text-color: #121416d8;
        --link-color: var(--accent-color);
      }

      html[data-theme="dark"] {
        --background-color: #212a2e;
        --text-color: #f7f8f8;
        --link-color: var(--accent-color);
      }
      html {
        font-family: system-ui, sans-serif;
      }
      body {
        height: 100vh;
        margin: 0;
        background: var(--background-color);
        color: var(--text-color);
        font-size: clamp(18px, 2vw + 1rem, 1.5rem);
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
      main {
        margin: auto;
        max-width: 75rem;
        position: relative;
        padding: clamp(1.5rem, 3vw + 1rem, 4rem);
      }
      article {
        margin-top: 4rem;
      }
      h1 {
        margin-bottom: 0rem;
      }
      a {
        color: var(--link-color);
        &:hover {
          color: rgb(var(--accent));
        }
      }
      li:not(.link-card, .review) a:hover {
        text-decoration: underline;
        filter: brightness(80%);
      }
      .sr-only {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
      }
      pre, code {
        tab-size: 2;
        -moz-tab-size: 2;
        -o-tab-size: 2;
      }
      pre {
        border: 2px solid var(--text-color);
        margin-block: 3rem;
        padding: 2rem;
      }
      p:has(img) {
        display: block;
        margin-block: 3rem
      }
      p img {
        display: block;
      }
      .post-date {
        margin-top: 0.5rem
      }
      .code-block-wrapper {
        position: relative;
      }
      .copy-code-button {
        position: absolute;
        border: 2px solid var(--text-color);
        color: var(--text-color);
        font-weight: bold;
        cursor: pointer;
        top: 0;
        right: 0;
        background-color: var(--accent-color-2);
        padding: .5rem;
        line-height: 1.5;
      }
      .copy-code-button:hover {
        filter: brightness(1.1);
      }
    </style>
  </body>
</html>